<h3>This bathroom info</h3>
<div class="row">
       <div class="col-6 info">
            <ul>
                <li><strong>Name:</strong>   <%= @bathroom_location.name %></li>
                <li><strong>Location:</strong>   <%= @bathroom_location.hours_in_class %></li>
            </ul>
        </div>
    </div>