<h2>Dashboard</h2>


Num Results: <%= @my_restrooms.length %>
<!--    </div>-->
                   
<% @my_restrooms.each_with_index do |restroom, index| %>
    <div class="location" data-latitude="<%=restroom.latitude %>" data-longitude="<%= restroom.longitude %>" data-name ='<%= restroom.name %>'></div>
<% end %>


   

    
    
    
    
    
    
<!---
#        let restrooms = document.querySelectorAll('.location');
#        let myBathroom = restrooms[0];
#        myBathroom.getAttribute('data-latitude');
#        myBathroom.getAttribute('data-longitude');
#-->
