/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require toastr/toastr
 *= require_tree .
 *= require_self
 */

//
//.map{
//    width:600px;
//    height: 600px;
//    border: 1px solid gray;
//}
//
//#map {
//  height: 100%;
//}
/* Optional: Makes the sample page fill the window. */
//html, body {
//  height: 100%;
//  margin: 0;
//  padding: 0;
//}


//@import 'partials/variables'
//    @import 'partials/mixins'

@import url('https://fonts.googleapis.com/css?family=Archivo');

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

//.info{
//    display:none;
//}
//
//.info.show{
//    display:block;
//}


// styles from styles/5star.css
.rate-area {
  float: left;
  border-style: none;
}


.rate-area:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0,0,0,0);
}


.rate-area:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 400%;
  line-height: 1.2;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
} 

.rate-area:not(:checked) > label:before { content: '★ '; }


.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 450% !important;
}
 

.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }


.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}


.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}

p{
    margin-bottom: 0
}

.container{
    padding-top: 40px;
}

.login{
    background-image: url('/assets/home-page.png');
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 400px;
    color: white;
    
}

.msg{
    position: relative;
    top: 50%;
    margin-right: 20px;
    padding-top: 5px
    
   
}

.home-image{
    background-image: url('/assets/dendy-park-toilets.png');
     background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 400px;
    color: white;
}

.registration {
    
    background-image: url('/assets/home-page.png');
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 400px;
    color: white;
}

.marker-details{
    display:none;
    padding: 20px
}

.dashboard-image{
    background-image: url('/assets/men-to-the-right.jpg');
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 400px;
    color: white;
}

.navbar-nav{
    position:absolute;
    right:10px; 
}

.navbar{
    background-color: #e6e6e6
}

btn{
    margin-left: 5px;
    margin-right: 5px
}

.logo{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    color: black;
    font-size:30px;
    text-shadow: 2px 2px lightgrey;
}

footer{
    margin-top: 50px;
    text-align: center
}

body{
   font-family: 'Archivo', sans-serif; 
}

.new-bathroom{
    background-image: url('/assets/Sudoku.jpg');
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 400px;
    color: white;
    text-shadow: 2px 2px black;
}